<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="enable_download" type="bool" label="Enable Video Download" default="false"/>
        
        <setting id="download_path" type="folder" label="Download Folder Path" default="" enable="eq(-1,true)"/>
    </category>

    <category label="API Settings">
        <setting id="api_ip" type="text" label="Termux API IP" default="127.0.0.1"/>
        
        <setting id="api_port" type="text" label="Termux API Port" default="8080"/>
    </category>
</settings>