<?xml version="1.0" encoding="utf-8"?>
<settings>

    <category label="General">

        <setting
            id="xml_url"
            type="text"
            label="Movie XML URL"
            default="https://raw.githubusercontent.com/Habib4326/ICC_Live_posterxml/main/movie_database.xml" />

        <setting
            id="items_per_page"
            type="number"
            label="Movies Per Page"
            default="20" />

    </category>

</settings>